/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.report {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

    .btn:hover {
        background-color: #ff4500;
    }

ul {
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 20px;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    border-bottom: 2px solid #ff8c00;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    flex: 1;
    text-align: left;
}

    .logo img {
        height: 50px;
    }

nav {
    flex: 2;
    text-align: center;
}

.navbar {
    list-style: none;
    display: inline-block;
}

    .navbar li {
        display: inline;
        margin-right: 20px;
    }

    .navbar a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        font-weight: 500;
    }

        .navbar a:hover {
            color: #ff8c00;
        }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#showReportButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border-top: 2px solid #ff8c00;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #ff4500;
    }
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #ff4500;
    }
